<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="login-page">
                <div class="form">
                  <form  method="POST" action="/formCompleto" class="register-form">
                    <input type="text" name='register' placeholder="name"/>
                    <input type="password" name='password' placeholder="password"/>
                    <input type="text" placeholder="email address"/>
                    <p>Registro: {{ registro }} Senha: {{ senha }} </p>
                    <button>create</button>
                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                  </form>
                  <form class="login-form">
                    <input type="text" placeholder="username"/>
                    <input type="password" placeholder="password"/>
                    <button>login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                  </form>
                </div>
              </div>

</body>
</html>