<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<center>
  <form action="/respostaGrafico" method="POST">
    
    <h3>Tipos de combustível</h3>
    <input type="radio" name="combustiveis" value="GASOLINA">GASOLINA<br>
    <input type="radio" name="combustiveis" value="ETANOL">ETANOL<br>
    <input type="radio" name="combustiveis" value="DIESEL">DIESEL<br>
    <input type="radio" name="combustiveis" value="GNV">GNV<br>
    
    <h3>Cidades</h3>
    <input list="posto" name="postos">
    <datalist id="posto">
      {% for posto in postos %}
      
      <option name="pos" value="{{ posto }}">
        
        {% endfor %}
      </datalist>
      
      <input type="Submit">
    </form>    
</center>
</body>
</html>