<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<center>
  <form action="/respostaIPCA" method="POST">
    
    <h3>Selecione o mês</h3>
    <input type="radio" name="meses" value="1">nov/2019<br>
    <input type="radio" name="meses" value="2">dez/2019<br>
    <input type="radio" name="meses" value="3">jan/2020<br>
    <input type="radio" name="meses" value="4">fev/2020<br>
    <input type="radio" name="meses" value="5">mar/2020<br>
    <input type="radio" name="meses" value="6">abr/2020<br>
    <input type="radio" name="meses" value="7">mai/2020<br>
    <input type="radio" name="meses" value="8">jun/2020<br>
    <input type="radio" name="meses" value="9">jul/2020<br>
    <input type="radio" name="meses" value="10">ago/2020<br>
    <input type="radio" name="meses" value="11">set/2020<br>
    <input type="radio" name="meses" value="12">out/2020<br>
    <input type="radio" name="meses" value="13">nov/2020<br>
      
    <input type="Submit">
    </form>    
</center>
</body>
</html>