<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="/USD" method="POST">
        <input type="text" name="data" placeholder="ex: 22/05/2018" required>
        <br>
        <br>
        <input  name="real-dolar" type="number" placeholder="real-dolar ex: 20.0" step="0.01" required>
        <br>
        <input name="dolar-real" type="number" placeholder="dolar-real ex: 20.0" step="0.01" required>
        <br>

        <input name="lista" type="Submit" value="ver_conversao">
    </form>
    <br>
    <br>
    <table>
            <thead>
                <tr>
                    <th>Real para Dólar</th>
                    <th>Dólar para Real</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>{{ real_dolar }} $</td>
                    <td>{{ dolar_real }} R$</td>
                </tr>
            </tbody>
        </table>
    
</body>
</html>